@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    aspect-ratio: 500 / 1100;
    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tien-anh/DSCF8755%20-%20%C4%90%E1%BB%83%20b%C3%A0n%204%20(xo%C3%A1%20ng%C6%B0%E1%BB%9Di%20gi%C3%BAp%20e%20%E1%BA%A1)%20(1).png') no-repeat 48% 100% / cover;
    justify-content: end;
    .content {
        width: 100%;
        font-family: $blushing-rose-font;
        p {
            font-size: 17.5px;
            text-transform: uppercase;
            margin-bottom: 5%;
            color: white;
        }
    }

    @media (max-width: 500px) {
        .content {
            p {
                font-size: calc((17.5 / 500) * 100vw);
            }
        }
    }
}
