@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    aspect-ratio: 500 / 824;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 196, 145, 0.259)),
                url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tien-anh/resized/DSCF6656.webp') no-repeat 0% 100% / cover;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: white;
        font-family: $blushing-rose-font; 
        p.date-range {
            font-size: 44px;
            letter-spacing: 5px;
            margin-bottom: 4%;
        }
        p.couple-names {
            font-size: 18px;
            margin-bottom: 5%;
            text-transform: uppercase;
        }
        .invited-text {
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-bottom: 40%;
        }
    }

    @media (max-width: 500px) {
        .content {
            p.date-range {
                font-size: calc((44 / 500) * 100vw);
                letter-spacing: calc((5 / 500) * 100vw);
            }
            p.couple-names {
                font-size: calc((18 / 500) * 100vw);
            }
            .invited-text {
                font-size: calc((12/ 500) * 100vw);
                letter-spacing: calc((2 / 500) * 100vw);
            }
        }
    }
}

